
<form action="/api/productos/agregar" method="post">
<h1>Ingrese producto</h1>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="title" >
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Precio</label>
    <input type="text" class="form-control" id="price" >
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Imagen</label>
    <input type="text" class="form-control" id="thumbnail" >
  </div>
  <button type="submit" class="btn btn-success" >Nuevo producto</button>
</form>


